@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body {
	background-size: 100%;
	font-family: Avenir-book;
	color: #ffffff;
}

header{
	background-color: #ffffff;
	background-size: 100%;
	padding: 20px;
}

h1{
	font-family: Oswald, Avenir-book; 
	font-weight: bold;
	font-size: 72px;
	text-align: center;
	color: #790000;
}

h2{
	font-family: Oswald, Avenir-book; 
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	text-transform: bold;
	color: #000000;
}

nav{
	background-color: #ffffff;
}

article{
	background-color: #ffffff;
	padding: 20px;
	width: 100%;
}

footer{
	background-color: #ffffff;
}

.ImageLineBlocks {
	display: block;
	text-align: center;
}

#slogan {
	color: #0076a3;
	font-style: italic;
	text-align: justify; center;

}

@media only screen and (max-width: 920px){
	h2 {
		font-size: .9em;
	}
	article {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	#slogan {
		font-size: .8em;
	}
@media only screen and (max-width: 730px){
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: .7em;
	}
	article {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	.ImageLineBlocks {
	display: block;
	text-align: center;
}
	#slogan {
		font-size: .8em;
	}

}